/*  ANIME PAGE CSS  */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

main{
    background-color: #ffffffee;
}
.h1anime{
    font-family: Oswald;
}
.cardanime{
    display: flex;
    justify-content: left;
}
.imganime{
    height: 320px;
    margin: 30px;
    box-shadow: 0px 1px 20px -6px
}
.panime{
    align-self: end;
    font-size: 24px;
    margin: 0 30px 30px 0;
}

@media (max-width: 600px) {
    .imganime{
        width: fit-content;
        margin:10%;
    }
    .cardanime{
        flex-direction: column;
        align-items: center;
    }
    .panime{
        text-align: justify;
        margin: 30px;
        font-size: 23px;
    }
    .btn1{
        font-size: 26px;
    }
}
@media (max-width: 300px){
    .imganime{
        width: 70%;
        height: auto;
        margin-inline: auto;
    }
    .panime{
        width: 220px;
    }
}